.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 250px;
    margin-bottom: 10px;

    &__name,
    &__price {
        font-size: 20px;
    }
}