.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 20px 0 30px;
    overflow: hidden;
    background-color: royalblue;
    transition: .5s;
    transform: translateY(-100%);
}

.navActive {
    @extend .nav;
    transform: translateY(0);

}

.burger {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: royalblue;
    border: none;
    outline: none;
    border-radius: 50%;
    z-index: 2;

    &__spanFirst {
        position: absolute;
        top: 37.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 2px;
        background-color: #fff;
    }

    &__spanSecond {
        @extend .burger__spanFirst;
        top: 47.5%;
    }

    &__spanThird {

        @extend .burger__spanFirst;
        top: 57.5%;
    }

}

.list {
    text-align: center;
    list-style: none;
    height: 100%;

    &__item {

        line-height: 50px;
    }

    &__link {
        color: white;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 8px;

    }

    &__item:nth-last-child(1) {
        margin-top: 80px;
    }

    &__linkActive {
        color: royalblue;
        background-color: white;
    }
}